root = true

[*]
end_of_line = LF
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.rs]
indent_style = space
indent_size = 4

# Shell
[*.sh]
indent_style = tab

# TOML
[*.toml]
indent_style = space
indent_size = 4
